main
    background: rgba(255, 0, 0, 0.1)

    .hero
        background: white
    
    .block-embed
        background: white
        margin: 0
    
.hero
    .content 
        padding-top: 0
        
        hgroup.has-lead 
            display: flex
            gap: var(--spacing-5)
        
            > p
                font-size: var(--meta-size)

.posts__page .hero .content
    .hero-image
        display: none

#collapse-liens-utiles-marque-pages
    div.block
        width: fit-content


@include media-breakpoint-down(desktop)
    .home
        min-height: none