.hero
    .content 
        padding-top: 0
        
        hgroup.has-lead 
            display: flex
            gap: var(--spacing-5)
        
            > p
                font-size: var(--meta-size)

@include media-breakpoint-down(desktop)
    .home
        min-height: none